<section id="user-info-container">
  <h5><%= current_user.first_name + ' ' + current_user.last_name%> </h5>
  <h6><%= current_user.username %></h6>

  <a href="/users/<%= session[:user_id] %>/tweets">
    <div>
        <p>Tweets</p>
        <%= @users_tweets.count %>
    </div>
  </a>

  <a href="/users/<%= session[:user_id] %>/following">
    <div>
       <p>Following</p>
       <%= current_user.minions.count %>
    </div>
  </a>

  <a href="/users/<%= session[:user_id] %>/followers">
    <div>
       <p>Followers</p>
       <%= current_user.leaders.count %>
    </div>
  </a>

</section>

<section id="tweet-container">
  <ul>
    <% @user_and_following_tweets.each do |tweet| %>

      <% author_id = tweet.user_id %>
      <% user_of_tweet = User.find(author_id) %>
      <% author_of_tweet = user_of_tweet.first_name + ' ' +user_of_tweet.last_name %>
      <li>
          <!-- username -->
          <a href="/users/<%= tweet.user_id %>">
          <%= user_of_tweet.username %></a>

          <!-- user's full name -->
          <b><em><%= author_of_tweet %></em></b>
      </li>
      <br />
      <%= tweet.content %>

        <% if session[:user_id] == tweet.user_id %>

          <!-- Delete tweet -->
          <a href="/users/<%= author_id %>/tweets/<%= tweet.id %>" style="margin-left: 70px">delete</a>

        <% end %>
      <br />
    <% end %>
  </ul>
</section>
