<section id="user-info-container">

  <% @user_to_display = User.find(@current_profile_id) %>
  <h5><%= @user_to_display.first_name + ' ' + @user_to_display.last_name%> </h5>
  <h6><%= @user_to_display.username %></h6>

  <a href="/users/<%= session[:user_id] %>/tweets">
    <div>
        <p>Tweets</p>
        <%= @users_tweets.count %>
    </div>
  </a>

  <a href="/users/<%= session[:user_id] %>/following">
    <div>
       <p>Following</p>
       <%= current_user.minions.count %>
    </div>
  </a>

  <a href="/users/<%= session[:user_id] %>/followers">
    <div>
       <p>Followers</p>

    </div>
  </a>


  <% if session[:user_id] != @current_profile_id %>
   <% current_user_page = (UserRelationship.find_by(minion_id: session[:user_id])) %>
    <% if current_user_page %>
      <% if current_user_page.leader_id == @current_profile_id %>

        <form action="/users/<%= @current_profile_id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Unfollow">
        </form>
      <% else %>
        <form action="/users/<%= @current_profile_id %>" method="post">
          <input type="submit" value="Follow">
        </form>
      <% end %>
    <% else %>
      <form action="/users/<%= @current_profile_id %>" method="post">
        <input type="submit" value="Follow">
      </form>
    <% end %>
  <% end %>


</section>

<section id="tweet-container">
  <ul>
    <% @user_and_following_tweets.each do |tweet| %>

      <% author_id = tweet.user_id %>
      <% user_of_tweet = User.find(author_id) %>
      <% author_of_tweet = user_of_tweet.first_name + ' ' +user_of_tweet.last_name %>
      <li>
          <!-- username -->
          <a href="/users/<%= tweet.user_id %>">
          <%= user_of_tweet.username %></a>

          <!-- user's full name -->
          <b><em><%= author_of_tweet %></em></b>
      </li>
      <br />
      <%= tweet.content %>

        <% if session[:user_id] == tweet.user_id %>

          <!-- Delete tweet -->
          <a href="/users/<%= author_id %>/tweets/<%= tweet.id %>" style="margin-left: 70px">delete</a>


          <a href="/users/<%= author_id %>/tweets/<%= tweet.id %>" style="margin-left: 60px">Delete</a>

        <% end %>
      <br />
    <% end %>
  </ul>
</section>
