<br>

<div class="ui grid">
  <div class="six wide column">
    <div class="ui center aligned card">
      <div class="image">
        <img src="http://semantic-ui.com/images/avatar2/large/matthew.png">
      </div>
      <div class="content">

        <a class="header"> Username </a>

      </div>
      <div class="extra content">
        <div class="ui three mini statistics">

          <div class="statistic">
            <div class="value">

              934

            </div>
            <div class="label">

              Followers

            </div>
          </div>

          <div class="statistic">
            <div class="value">
              <i class="forumbee icon"></i>

              5

            </div>
            <div class="label">
              Bzz
            </div>
          </div>
            <div class="statistic">
              <div class="value">

                65

              </div>
              <div class="label">

                Following

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ten wide column">
    <div class="ui fluid grid">
      <div class="six wide column"> <%= erb :"tweet/_tweet_show" %> </div>
      <div class="six wide column"><%= erb :"tweet/_tweet_show" %></div>
      <div class="six wide column"><%= erb :"tweet/_tweet_show" %></div>
      <div class="six wide column"><%= erb :"tweet/_tweet_show" %></div>
      <div class="six wide column"><%= erb :"tweet/_tweet_show" %></div>
      <div class="six wide column"><%= erb :"tweet/_tweet_show" %></div>
      <div class="six wide column"><%= erb :"tweet/_tweet_show" %></div>
      <div class="six wide column"><%= erb :"tweet/_tweet_show" %></div>
    </div>
  </div>
</div>

