<br>

<div class="ui stackable grid">
  <div class="six wide column">
    <div class="ui center aligned card">
      <div class="image">
        <img src="http://semantic-ui.com/images/avatar2/large/matthew.png">
      </div>
      <div class="content">

        <a class="header"> <%= current_user.username %> </a>

      </div>
      <div class="extra content">
        <div class="ui three mini statistics">

          <div class="statistic">
            <div class="value">

              <%= current_user.leaders.count %>

            </div>
            <div class="label">

              Followers

            </div>
          </div>

          <div class="statistic">
            <div class="value">
              <i class="forumbee icon"></i>

              <%= current_user.leaders.count %>

            </div>
            <div class="label">
              Bzz
            </div>
          </div>
            <div class="statistic">
              <div class="value">

                65

              </div>
              <div class="label">

                Following

              </div>
            </div>
        </div>
      </div>
    </div>
  <%= erb :"tweet/_tweet_new" %>
  </div>
  <div class="ten wide column">
    <div class="ui fluid grid">

            <div class="six wide column">
      <% Tweet.all.each do |tweet| %>
          <a href="#" class="ui card">
          <div class="extra content">
            <span class="left floated forumbee">
              <i class="forumbee yellow icon"></i>

              <p> username </p>

            </span>
          </div>

          <div class="content">
            <div class="content">

              <p> <%= tweet.content %> </p>

            </div>
          </div>

          <div class="ui two bottom attached buttons">
            <div class="ui animated fade button" tabindex="0">
              <div class="visible content">
                <i class="retweet icon"></i>
              </div>

              <div class="hidden content">Rebuzz</div>

          </div>
            <div class="ui animated fade button" tabindex="0">
              <div class="visible content">
                <i class="star icon"></i>
              </div>

              <div class="hidden content">Favorite</div>

            </div>
          </div>

        </a>

        <% end %>

        </div>
    </div>
  </div>
</div>

